@font-face {
    font-family: "Shabnam FD";
    src: url(../fonts/Shabnam-FD.woff) format(".woff"),
        url(../fonts/Shabnam-FD.woff2) format(".woff2"),
        url(../fonts/Shabnam-FD.eot) format(".eot");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    direction: rtl;
    font-family: "Shabnam FD";
    background-color: #fff;
    color: #7d7e7f;
    height: 100000px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix {
    clear: both;
}
.mt-50 {
    margin-top: 50;
}
.active-link {
    color: #4ecdd4 !important;
}
/* notification */
.notification {
    background-color: #fea000;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    color: #fff;
}
.notification a {
    color: #fff;
    margin-right: 50px;
}
.notification a i {
    vertical-align: -3px;
}
/* start menu */
.top-menu {
    background-color: #fff;
    box-shadow: 1px 3px 3px 0 #5a5a5a3d;
    float: right;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav.main-menu {
    min-width: 60px;
    line-height: 60px;
    float: right;
}
nav.main-menu ul li {
    display: inline-block;
}
nav.main-menu ul li a {
    padding: 10px 15px;
    color: #333;
    transition: 0.3s;
}
nav.main-menu ul li a:hover {
    color: #4ecdd4;
}
.left-menu {
    float: left;
    line-height: 60px;
}
.icone-menu {
    background: rgb(210, 34, 34, 43%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #d92550;
}
.left-menu a {
    border: 1px solid #7e57c2;
    display: inline-block;
    padding: 5px 20px;
    line-height: 23px;
    border-radius: 4px;
}
/* end menu */

/* start search-box */
.search-box-right {
    float: right;
    width: 50%;
}
.search-box-left {
    float: left;
    width: 50%;
}
.bg-search-box {
    background-image: url(../img/bglines.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    min-height: 450px;
}
.wrap-search {
    text-align: center;
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    bottom: 0;
}
.center-title {
    font-size: 48px;
    font-weight: bold;
    color: #0d9aff;
}
.form-search-wrap {
    position: relative;
}
.form-search-wrap input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 100%;
    padding: 10px 15px;
    margin: 0;
    background-color: #fff;
    font-family: "Shabnam FD";
    border: 1px solid #ddd;
    border-radius: 3px;
}
.form-search-wrap button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    color: #fff;
    border: 0;
    padding: 0 15px;
    cursor: pointer;
    height: 40px;
    font-family: "Shabnam FD";
    min-width: 50px;
    line-height: 100%;
    background-color: #333;
    border-radius: 0 2px 2px 0;
}
.form-search-wrap button::before {
    content: "";
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #333;
    left: auto;
    right: -6px;
    border-width: 8px 0 8px 8px;
    border-style: solid none solid solid;
}
.search-box-left img {
    height: 400px;
    margin-top: 20px;
}
/* end search-box */
/* start cat list */
.cat-list {
    background-color: #fff;
    box-shadow: 0 5px 50px 0 rgb(217 217 217 /37%);
    
}
/* end cat list */
