@font-face {
    font-family: "Shabnam FD";
    src: url(../fonts/Shabnam-FD.woff) format(".woff"),
        url(../fonts/Shabnam-FD.woff2) format(".woff2"),
        url(../fonts/Shabnam-FD.eot) format(".eot");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    direction: rtl;
    font-family: "Shabnam FD";
    background-color: #fff;
    color: #7d7e7f;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix {
    clear: both;
}
.mt-50 {
    margin-top: 50;
}
.active-link {
    color: #4ecdd4 !important;
}
/* notification */
.notification {
    background-color: #fea000;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    color: #fff;
}
.notification a {
    color: #fff;
    margin-right: 50px;
}
.notification a i {
    vertical-align: -3px;
}
/* start menu */
.top-menu {
    background-color: #fff;
    box-shadow: 1px 3px 3px 0 #5a5a5a3d;
    float: right;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav.main-menu {
    min-width: 60px;
    line-height: 60px;
    float: right;
}
nav.main-menu ul li {
    display: inline-block;
}
nav.main-menu ul li a {
    padding: 10px 15px;
    color: #333;
}
nav.main-menu ul li a:hover {
    color: #4ecdd4;
}
.left-menu {
    float: left;
    line-height: 60px;
}
.icone-menu {
    background: rgb(210, 34, 34, 43%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #d92550;
}
.left-menu a {
    border: 1px solid #7e57c2;
    display: inline-block;
    padding: 5px 20px;
    line-height: 23px;
    border-radius: 4px;
}
